:root {
  --primary-clr: #EE791C;
  --secondary-clr: #0C2640;
  --light-grey: #8596A6;
  --dark-green: #009C22;


  --heading-color: #233876;
  --card-bg: #F5FAF7;
  --input-bg: #F2F0F9;
  --button-bg: #2C2A38;
  --light-white: #FDFCFD;
  --black-clr: #000208;
  --faded-color: #F6F6F6;
  --grey-color: #6B7280;

}


.pagination {
  margin-top: 20px;
}

.status-badge.completed {
  color: green;
}

.status-badge.preparing {
  color: orange;
}

.status-badge.pending {
  color: red;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}


td ,th{
  padding: 30px !important;
}

.pagination .btn-outline-secondary {
  /* border:1px solid var(--button-bg)   !important; */
  border: 1px solid var(--primary-clr) !important;

}

.pagination .btn-primary {
  /* background-color:var(--button-bg)  !important; */
  background-color: var(--primary-clr) !important;
  border: none;

}

.pagination .btn:hover {
  /* color: var(--bs-btn-hover-color); */
  background-color: var(--primary-clr) !important;
  /* background-color: var(--button-bg) !important; */
  border-color: none;

}


.ant-dropdown-trigger {
  color: var(--primary-clr);
  border: 0.5px solid var(--primary-clr);
  border-radius: 10px ;
  padding: 10px;
}

/* Ensure the table stays responsive within a limited width */
.table-custom-responsive {
  /* max-width: 400px; */
  /* Limit the width to 400px */
  overflow-x: auto;
  /* Enable horizontal scrolling */
}

@media (max-width: 768px) {
  .table-custom-responsive {
    width: 100%;
    /* Make sure the table container takes full width on small screens */
    max-width: 100%;
    /* Ensure the table does not exceed 100% width on small devices */
  }
}

.table {
  width: 100%;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Add box-shadow for better aesthetics */
}

.avatar {
  display: inline-flex;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

.status-badge {
  padding: 5px 10px;
  border-radius: 12px;
}

.status-badge.completed {
  background-color: #28a745;
  /* Green for completed */
  color: white;
}

.status-badge.preparing {
  background-color: #ffc107;
  /* Yellow for preparing */
  color: white;
}

.status-badge.pending {
  background-color: #dc3545;
  /* Red for pending */
  color: white;
}