.navBarLeft svg {
  color: var(--navLeftIcon);
  /* Default color */
  font-size: 50px;
  padding: 10px;
}

/* Change the background of the li when the link is active */
.navBarLeft ul li a.active-link {
  color: var(--primary-clr) !important;
  /* Optional: Highlight the link */
}

/* Target the li that contains the active link */
.navBarLeft ul li a.active-link svg {
  animation-name: leftNavAnim;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-direction: alternate;
  color: var(--primary-clr) !important;
  /* Change the SVG color to red when the link is active */
}


/* Apply yellow background to the li containing the active link */
.navBarLeft ul li a.active-link {
  transition: 1.2s;
  border-radius: 10px 0px 0px 10px;
  background-color: var(--light-white)
}

.navBarLeft ul li a.active-link {
  display: block;
}


@keyframes leftNavAnim {
  to {
    transform: scale(1.2);
  }
}